@import url('https://fonts.googleapis.com/css?family=Orbitron:900|Open+Sans|Headland+One');

* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-size: 18px;
}
body {
	background-color: rgb(153,153,153);
}
a {
	text-decoration: none;
	color: inherit;
}
header {
	background-color: white;
	opacity: .9;
	color: black;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	padding: 20px 40px;
	display: flex;
	align-items: center;
	position: fixed;
	width: 96%;
	font-family: "Open Sans", sans-serif;
	z-index: 10; /*Keeps it below content boxes*/
}
	header .title {
		font-family: "Orbitron", sans-serif;
		font-size: 3em;
		color: #D5380F;
		display: inline-block;
		text-align: center;
		margin-bottom: -10px; /*Bad fix*/
		transition: .5s;
	}

	header .menu {
		flex-grow: 1;
		text-align: right;
	}

	header .menu a {
		display: inline-block;
		margin: 20px;
		transition: .4s;
	}
	header .menu a:hover {
		/*font-size: 1.2em;
		margin-top: -.1em;
		margin-bottom: -.1em;*/
		color: #D5380F;
	}
	header .menu .thisPlanet {
		color: white/*#D5380F*/;
		padding: 10px;
		margin: -5px;
		background-color: rgb(153,153,153); /*rgba(0,0,0,.4) is the same over a white header*/
	}
	header .menu .thisPlanet:hover {
		font-size: 1em;
		padding: 10px;
		color: white;
	}

main {
	color: white/*rgb(153,153,153)*/;
	font-family: "Headland One", serif;
}

/* Split the screen in half */
.split {
	height: 78%; /*Changed in js*/
	width: 46%;
	z-index: 1;
	position: fixed;
	top: 90px; /*Changed in js*/
	overflow: auto;
	padding-top: 20px;
	background-color: rgb(30,30,30);
	border-radius: 10px;
}

/* Control the left side */
.left {
	left: 2%;
	display: flex;
	justify-content: center;
	color: rgba(0,0,0,0);
	transition: .25s ease;
}
/* If you want the content centered horizontally and vertically */
.left img {
	position: absolute;
	width: 450px;
}
	.left img.planetImg {
		height: 450px;
		top: 25px;
	}
	.left img.godImg {
		height: auto;
		margin-bottom: 25px;
		transform-origin: top;
		transform: translateY(500px);
		border: 5px solid white;
	}

/* Control the right side */
.right {
	right: 2%;
	color: rgba(0,0,0,0);
	transition: .25s ease;
}
ul {
	margin: 0px 50px;
	text-shadow: 0 0 white;
}
li.description {
	list-style: none;
	text-align: justify;
}
li div {
	color: #D5380F;
	text-shadow: none;
	display: inline;
}
	li div.tip {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		padding: 5px;
		width: 80%;
		/*max-height: 0;*/
		background-color: #D5380F;
		color:white;
		border-radius: 5px;
		text-align: center;
		transition: all .5s, max-height 2s;
	}
	li div:nth-of-type(1):hover ~ div.tip {
		visibility: visible;
		opacity: 1;
		/*max-height: 6em; /*Changing height won't make it transition, it will just snap to the new height*/
	}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
	width: 20px;
	height: 20px;
	border: 5px solid transparent;
	background-clip: padding-box;
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb {        
	box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar-corner {
	background-color: inherit;
}
.left:hover {
	color: rgba(255,255,255,.5);
}
.right:hover {
	color: rgba(255,255,255,.6);
}

@media (max-width:1600px) {
	body {
		display: flex; /*Used to be block*/
	}

	header {
		flex-direction: column;
	}
	header .title:hover + .disclaimer {
		height: 2.5em;
		opacity: 1;
		visibility: visible;
	}

	header .disclaimer {
		height: 0em;
		width: 500px;
		visibility: hidden;
		opacity: 0;
		text-align: center;
		margin-left: 0px;
	}
	header .menu {
		text-align: center;
	}
}